.msh-summary-panel {
  border: 1px solid govuk-functional-colour(border);
  border-left: 5px solid govuk-colour("blue");
  padding: govuk-spacing(3) govuk-spacing(4);
  margin-bottom: govuk-spacing(6);
}

.msh-summary-panel__title {
  @include govuk-font($size: 19, $weight: bold);
  margin-bottom: govuk-spacing(2);
}
