{% extends "layouts/main.html" %}

{% set currentSection = "re-entry" %}
{% set pageName = "Re-Entry Map" %}

{% from "macros/badge.njk" import mshBadge %}
{% from "macros/print-link.njk" import printLink %}
{% from "macros/explainer.njk" import explainer %}
{% from "macros/re-entry-map.njk" import reEntryMap %}
{% from "macros/present-link.njk" import presentLink %}

{% block stylesheets %}
  {{ super() }}
  <link href="https://api.mapbox.com/mapbox-gl-js/v3.9.0/mapbox-gl.css" rel="stylesheet">
{% endblock %}

{% block content %}

{{ mshBadge(viewModel.status) }}
<h1 class="govuk-heading-xl">Re-Entry Map</h1>
<p class="govuk-body-l">
  {{ viewModel.plottedCount }} of {{ viewModel.totalCount }} tracked objects plotted
  {% if viewModel.unresolvedCount > 0 %}({{ viewModel.unresolvedCount }} have no resolved location yet){% endif %}
</p>

{{ explainer("About this map", "
  <p class='govuk-body'>This map uses Mapbox to render real coastlines. NSpOC has confirmed sending this OFFICIAL-classified location data to Mapbox is authorised; the access token is scoped to our own domains in the Mapbox account.</p>
  <p class='govuk-body'>Every marker is live and interactive:</p>
  <ul class='govuk-list govuk-list--bullet'>
    <li>Select a marker to see a summary of the object.</li>
    <li>Select the link in that summary to open its full Tracking and Impact Prediction (TIP) detail.</li>
    <li>Scroll to zoom, drag to pan, or use the on-map zoom controls.</li>
  </ul>
  <p class='govuk-body'>Markers are colour-coded by risk rating. Grey means the object is still pending analyst review.</p>
  <p class='govuk-body'><a class='govuk-link govuk-link--no-visited-state' href='/data-sources'>See the exact endpoint behind this map</a>.</p>
") }}

{{ reEntryMap(viewModel) }}

<div class="govuk-button-group">
  {{ printLink() }}
  {{ presentLink("/present/re-entry/map") }}
</div>

{% endblock %}

{% block pageScripts %}
  <script src="https://api.mapbox.com/mapbox-gl-js/v3.9.0/mapbox-gl.js"></script>
  <script src="/public/javascripts/re-entry-map.js"></script>
{% endblock %}
