{% extends "layouts/present.html" %}
{% set bodyClasses = "present-mode" %}
{% set pageName = "Present: Collision & Fragmentation" %}

{% from "macros/present-controls.njk" import presentControls %}
{% from "macros/donut-chart.njk" import donutChart %}
{% from "macros/line-chart.njk" import lineChart %}
{% from "macros/badge.njk" import mshBadge %}

{% block content %}
  {{ presentControls(nav) }}
  <div class="msh-present-slide">
    {{ mshBadge(viewModel.status) }}
    <h1 class="msh-present-slide__title">Collision &amp; Fragmentation</h1>
    <p class="msh-present-slide__subtitle">Reporting month: {{ viewModel.selectedMonthLabel }}</p>

    <div class="govuk-grid-row">
      <div class="govuk-grid-column-one-half">
        {{ lineChart("Conjunction alerts issued", viewModel.trendChart, "Alerts Issued (> " + viewModel.analysisThreshold + ")") }}
        {{ donutChart("Conjunction Probability Breakdown", viewModel.riskDonut, viewModel.riskDonutStatus) }}
      </div>
      <div class="govuk-grid-column-one-half">
        {{ lineChart("Fragmentation incidents tracked", viewModel.fragmentationTrendChart, "Fragmentation Incidents") }}
        {{ donutChart("Fragmentation Cause", viewModel.fragTypeDonut, viewModel.fragTypeDonutStatus) }}
      </div>
    </div>
  </div>
{% endblock %}
